/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #welcomeAvatar {
    padding: 5px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



#main, html {
  height: 100%;
  margin: 0;
}

#background {
  /* The image used */
  background-image: url("../images/ssc.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* if there is a need for scroll the background image stays */
  overflow: auto;
}

.avatar {
  /* Adds circle style to avatar */
  border-radius: 50%;
  
  height: 200px;
  width: 200px;
  
  /* Ceneters image */
  display: block;
  margin-left: auto;
  margin-right: auto;
    
}





/* debug */
#test1 {
  border: 1px blue solid;
}

#test2 {
  border: 1px black solid;
}